<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2 style="padding: 10px;">To Do</h2>
    </nav>
    <div>
    <div class="date" id="date" style="padding: 10px;">Date today</div>
    <form method="post" action="/todo">
    <div class="task" style="display: flex; flex-direction: column; padding: 10px;">
        <textarea name="task" placeholder="Add a task" style="padding: 10px;"></textarea>
        <button type="submit" style="width: 20vw; margin-top: 10px;">Add</button>
    </div>
    </form>
    </div>
    <div class="added tasks" style="background-color: aqua; height: max-content;">
    <ul>
        <% locals.taskList.forEach((task)=>{ %>
        <li><%=task%></li>
        <% }); %>
    </ul>
    </div>
    <script>
        function displayDateTime(){
        document.getElementById("date").innerHTML = new Date()
        }
        setInterval(displayDateTime,1000)
    </script>
</body>

</html>